#container {
  text-align: center;
}
#container .view {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

.btn-lg { /*TODO: use something other than btn-lg because we might need to use that elsewhere*/
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 33%;
}
.btn-block {
    border-radius: 0;
    margin-bottom: 20px;
}
.btn-block > .btn {
    padding: 2px;
}
.content {
	padding-left: 10px;
	padding-right: 10px;
}
.glyphicon-heart {
	color: #ff6666;
}
.glyphicon-heart-empty {
	color: #ff6666;
}
.jumbotron {
	padding-left: 10px;
	padding-right: 10px;
}
.page-header {
	padding-left: 10px;
}
.popover-content {
   	height: 300px;
   	overflow-y: scroll;
}
table th {
	text-align: center;
}
table td {
	text-align: center;
}

#sidebar {
    display:none;
}

@media (min-width: 800px) {

    #menu-button {

      display: none;

    }


    #sidebar {

      display: block;

    }

}